<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Soporte</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div>
        <div class="inputter">
            <input type="text" placeholder="Usuario" required class="custom-input">
            <textarea name="" id="" cols="30" rows="10" required placeholder="Consulta" class="custom-input"></textarea>
        </div>

        <div class="ion-text-center">
            <ion-button>Enviar Consulta</ion-button>
        </div>

    </div>


</ion-content>